<% layout('/layouts/boilerplate')%>
   <form action="/campgrounds" method="POST">
     <div>
         <label>title</label>
         <input type="text" id="title" name="campground[title]">
     </div>
     <div>
         <label>location</label>
         <input type="text" id="location" name="campground[location]">
     </div>
     <button>Add Campground</button>
   </form>
   <a href="/campgrounds"> All Camps</a>
